<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502752389905-keuiitjbvl6fev29f2s8ak94ht6jmuno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502752389905-keuiitjbvl6fev29f2s8ak94ht6jmuno</string>
	<key>API_KEY</key>
	<string>AIzaSyAFqvbxo9L0A4rHBjMVZg1BoDLEsW8skCg</string>
	<key>GCM_SENDER_ID</key>
	<string>502752389905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.titozz</string>
	<key>PROJECT_ID</key>
	<string>titozz</string>
	<key>STORAGE_BUCKET</key>
	<string>titozz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502752389905:ios:c3285d9ac3ca421f897ab0</string>
	<key>DATABASE_URL</key>
	<string>https://titozz.firebaseio.com</string>
</dict>
</plist>